.project{
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 3.5rem;
  margin: 0 3px 0 5px;
  background: linear-gradient(to right, rgb(255, 111, 135), rgb(201, 165, 165));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.name span{
font-weight: 800;
font-size: 1.5rem;
}
.firstname{
  color: rgb(70, 62, 62);
}
.lastname{
  color: rgb(231, 125, 143);
} 
